*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
@font-face {
    font-family: "iransans";
    src: url(../Fonts/iransans/IRANSansWeb-FaNum.eot);
    src: url(../Fonts/iransans/IRANSansWeb-FaNum.ttf);
    src: url(../Fonts/iransans/IRANSansWeb-FaNum.woff);
    src: url(../Fonts/iransans/IRANSansWeb-FaNum.woff2);
}
body{
    font-family: iransans;
}
.topNavFontSize{
    font-weight:bold;
    font-size: 10px;
}
.bottomNavFontSize{
    font-size: 14px;
}
.topNavBar{
    height: 40px;
}
.midNavBar{
    font-size: 0.9rem;
}
.midNavBar h3{
    font-size: 20px;
}
.nav-item{
    margin: 0 5px;
}
.miniBar{
    margin-right:0 10px;
}
.searchBar{
    width: 340px;
    background: rgb(240, 240, 240);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
}
.searchInput{
    border: none;
    width: 90%;
    background: rgb(240, 240, 240);
    font-size: 13px;
    padding: 13px 10px 13px 40px;
    outline: none;
}
@media screen  and (max-width: 576px){
    .searchBar{
        max-width: 250px;
    }
}
.bNavLink{
    border-bottom:3px solid #6c757d;
}
.bNavLink:hover{
    border-bottom: 3px solid white;
}
